@* Parker Mecham, Section 1 *@

@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--This loop iterates through the model and gets all of the information that was entered in and adds it to the output-->
@foreach (var x in Model.Books)
{
   <partial name="BookSummary" model="x" />
 }

<!--Populates the button menu with the number of pages depending on the size of the database-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>

<footer>Copyright Scamazon 2021</footer>